DirectoryIndex index.php index.html index.htm
Options +FollowSymLinks
IndexIgnore */*
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php
#RewriteRule ^(.*)$ /index.php/$1 [L] 
</IfModule>

<IfModule mod_php5.c>
php_value memory_limit 2048M
php_value max_execution_time 1200
</IfModule>